@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4e4e4e;
  transition: all 400ms ease;
}

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  padding: 0 16px;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

p {
  line-height: 1.6;
}

h2,
h1 {
  cursor: default;
}

.dark-theme {
  background-color: #333;
  color: #f5f5f5;
}

.dark-theme * {
  background-color: transparent;
  color: inherit;
  transition: all 400ms ease;
}

.dark-theme .nav__link:hover,
.dark-theme .contrast:hover i {
  color: #eb3c3c;
}

.dark-theme .nav__link::before,
.dark-theme .nav__link::after {
  background-color: #eb3c3c;
}

.dark-theme .search__bar {
  transition: all 400ms ease;
}

.dark-theme .search__bar button {
  background-color: #eb3c3c;
}

.dark-theme .search__bar i {
  background-color: #eb3c3c;
}

.dark-theme .search__bar input {
  color: #eb3c3c;
}

.dark-theme .search__bar:focus-within {
  border-color: #eb3c3c;
}

input {
  background-color: transparent;
}

/* HEADER */

header {
  width: 100%;
  max-width: 1280px;
  padding: 8px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 36px;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  padding: 8px;
  transition: all 400ms ease;
}

.nav__link {
  padding: 8px;
  font-weight: 700;
  margin-left: 72px;
  transition: all 400ms ease;
  position: relative;
}

.nav__link::before,
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3c4aeb;
  transition: all 400ms ease;
}

.nav__link::before {
  left: 0;
}

.nav__link::after {
  right: 0;
}

.nav__link:hover::before,
.nav__link:hover::after {
  width: 100%;
}

.nav__link:hover {
  color: #3c4aeb;
  cursor: pointer;
}

.contrast {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-left: 72px;
  transition: all 400ms ease;
}

.contrast i {
  font-size: 28px;
  transition: all 400ms ease;
}

.contrast:hover {
  transform: scale(0.8);
  cursor: pointer;
}

.contrast:active {
  transform: scale(1.2);
}

.contrast:hover i {
  color: #3c4aeb;
}

/* BURGER MENU */

.burgerBtn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  transition: right 0.4s ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu--open {
  right: 0;
}

.burgerClose {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.nav__list--burger {
  list-style: none;
  padding: 0;
}

/* MODALS */

/* Modal Background */
.modal__background {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #030303b7;
  visibility: hidden; /* Start hidden */
  opacity: 0; /* Start with zero opacity */
  transition: all 400ms ease;
  cursor: default;
}

.modal__background.show {
  visibility: visible;
  opacity: 1; /* Fade in */
}

/* Modal */
.modal__about,
.modal__contact {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  transition: all 400ms ease;
}

.modal__about {
  transform: translateX(-100%);
}

.modal__contact {
  transform: translateY(-100%);
}

/* Modal Content */
.modal-content {
  display: flex;
  position: relative;
  gap: 16px;
  margin: 0 auto;
  background-color: #fefefe;
  padding: 48px;
  border: 2px solid #969696;
  width: 80%;
  max-width: 480px;
  border-radius: 8px;
  color: #4e4e4e;

  p {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
}

.modal__contact .modal-content {
  display: flex;
  flex-direction: column;
}

.modal__contact form {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  flex-direction: column;
}

.modal__contact input,
.modal__contact textarea {
  outline: none;
  resize: none;
  margin: 12px 0;
  font-size: 24px;
  color: #3c4aeb;
  font-weight: 700;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #4e4e4e;
}

.modal__contact input:hover,
.modal__contact textarea:hover {
  border-color: #969696;
}

.modal__contact input:focus-within,
.modal__contact textarea:focus-within {
  border-color: #3c4aeb;
}

.modal__contact button {
  font-size: 28px;
  font-weight: 700;
  background-color: #4e4e4e;
  color: #f5f5f5;
  border: solid 2px #969696;
  border-radius: 8px;
  padding: 12px 0;
  transition: all 400ms ease;
}

.modal__contact button:hover {
  background-color: #3c4aeb;
}

.modal__contact button:active {
  background-color: #eb3c3c;
  transform: scale(0.8);
  color: #4e4e4e;
}

/* Show Modal */
.modal__about.show,
.modal__contact.show {
  transform: translate(0, 0);
  display: block;
}

/* Close Button */
.close {
  position: absolute;
  color: #4e4e4e;
  font-weight: 900;
  cursor: pointer;
  font-size: 72px;
  text-align: right;
  top: 0;
  right: 0;
  padding: 0 12px 12px 12px;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  transform: scale(1.2);
}

/* Overlays */

.modal__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 10;
  transition: all 400ms ease;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #f5f5f5;
}

.overlay--loading,
.overlay--success {
  opacity: 1;
  transition: all 400ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  font-size: 32px;
  padding: 12px;
}

.overlay--loading {
  background-color: #3c4aeb;
  z-index: 51;
}

.overlay--loading .spinner {
  font-size: 128px;
  animation: spin 1200ms linear infinite;
  color: #f5f5f5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay--success {
  background-color: #07831c;
}

.overlay--loading.hidden,
.overlay--success.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease;
}

/* SEARCH */

section {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
}

.search__wrapper h2 {
  text-align: center;
  width: fit-content;
  font-size: 48px;
}

.search__bar {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #4e4e4e;
  border-radius: 24px;
  padding: 12px;
  transition: all 400ms ease;
}

.search__bar form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search__bar input {
  font-size: 24px;
  border: none;
  outline: none;
  color: #3c4aeb;
  font-weight: 700;
  width: 100%;
}

.search__bar button {
  font-size: 24px;
  padding: 8px;
  border-radius: 16px;
  background-color: #3c4aeb;
  border: 2px solid #4e4e4e;
  transition: all 400ms ease;
}

.search__bar button:hover {
  transform: scale(0.8);
  cursor: pointer;
}

.search__bar button:active {
  transform: scale(1.2);
}

.search__bar i {
  background-color: #3c4aeb;
  color: #f5f5f5;
}

.search__bar:hover {
  border: 2px solid #969696;
}

.search__bar:focus-within {
  border: 2px solid #3c4aeb;
}

/* WEATHER RESULTS */

.weather__result {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  padding: 16px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 4px 4px 12px #0000001a;
  animation: slide 800ms forwards;
  opacity: 0;
  visibility: hidden;
  cursor: default;
}

@keyframes slide {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }
}

.weather__result h3 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.weather__result p {
  margin: 8px 0;
  font-weight: 700;
  font-size: 36px;
}

.dark-theme .weather__result {
  background-color: #474646;
}

.weather__result button {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  background-color: #3c4aeb;
  color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  transition: all 400ms ease;
}

.dark-theme .weather__result button {
  background-color: #eb3c3c;
}

.weather__result button:hover {
  background-color: #969696;
}

.weather__result button:active {
  background-color: #0000001a;
}

@media (max-width: 1200px) {
  .nav__list {
    display: none;
  }

  .burgerBtn {
    display: flex;
  }
}
