@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #4e4e4e;
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  padding: 0 16px;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

p {
  line-height: 1.6;
}

.dark-theme {
  background-color: #333;
  color: #f5f5f5;
}

/* HEADER */

header {
  width: 100%;
  max-width: 1280px;
  padding: 8px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 36px;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  padding: 8px;
  transition: all 400ms ease;
}

.nav__link {
  padding: 8px;
  font-weight: 700;
  margin-left: 72px;
  transition: all 400ms ease;
  position: relative;
}

.nav__link::before,
.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3c4aeb;
  transition: all 400ms ease;
}

.nav__link::before {
  left: 0;
}

.nav__link::after {
  right: 0;
}

.nav__link:hover::before,
.nav__link:hover::after {
  width: 100%;
}

.nav__link::before,
.nav__link::after {
  transition: all 400ms ease;
}

.nav__link:hover {
  color: #3c4aeb;
  cursor: pointer;
}

.contrast {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-left: 72px;
  transition: all 400ms ease;

  i {
    font-size: 28px;
    transition: all 400ms ease;
  }
}

.contrast:hover {
  transform: scale(0.8);
  cursor: pointer;

  i {
    color: #3c4aeb;
  }
}

/* ABOUT MODAL */

/* Modal Background */
.modal__about {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  text-align: center;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}


/* SEARCH */

section {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 128px;

  h2 {
    text-align: center;
    width: fit-content;
    font-size: 48px;
  }
}

.search__bar {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #4e4e4e;
  border-radius: 24px;
  padding: 12px;
  transition: all 400ms ease;

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  input {
    font-size: 24px;
    border: none;
    outline: none;
    color: #3c4aeb;
    font-weight: 700;
  }

  button {
    font-size: 24px;
    padding: 8px;
    border-radius: 16px;
    background-color: #3c4aeb;
    border: 2px solid #f5f5f5;
    transition: all 400ms ease;
  }

  button:hover {
    transform: scale(0.8);
    cursor: pointer;
  }

  button:active {
    transform: scale(1.2);
  }

  i {
    background-color: #3c4aeb;
    color: #f5f5f5;
  }
}

.search__bar:hover {
  border: 2px solid #969696;
}

.search__bar:focus-within {
  border: 2px solid #3c4aeb;
}
